
<div class="welcome">
    <h1 class="display-5 fw-bold" style="text-align:center;color:#1f1987;">Drive with Confidence</h1>
    <div class="col-lg-6 mx-auto">
        <!-- <p class="lead mb-4" style="color:white">E-charge provides navigation the nearest electronic charging stations, so you don't have to worry</p> -->
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="routeToSignup()">Sign up</button>
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="routeToLogin()">Login</button>
        </div>
    </div>
</div>

