@font-face { font-family: Azontix; src: url('../../../assets/Azonix-1VB0.otf'); }
:host {
    display:flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 20px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width:fit-content;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {

    font-family: Azontix;

}
